<md-dialog aria-label="Error dialog" flex="90" flex-gt-sm="70" flex-gt-md="50">

    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h2>Error</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.close()">
                <md-icon aria-label="Close dialog"><ng-md-icon icon="close"></ng-md-icon></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content parlay-error-dialog-content">

            <md-card>
                <md-card-contents>
                    <md-toolbar ng-click="ctrl.toggleTopics()" class="parlay-error-dialog-toolbar">
                        <div class="md-toolbar-tools"><h3>TOPICS</h3><span flex></span><md-icon><ng-md-icon icon="{{ctrl.topics_icon}}"></ng-md-icon></md-icon></div>
                    </md-toolbar>

                    <md-list ng-hide="ctrl.topics_hidden">
                        <md-list-item class="parlay-error-dialog-list-item" ng-repeat="(key, data) in ctrl.topics"><b>{{key}}:</b>&nbsp;{{data}}</md-list-item>
                    </md-list>
                </md-card-contents>
            </md-card>

            <md-card>
                <md-card-contents>
                    <md-toolbar ng-click="ctrl.toggleContents()" class="parlay-error-dialog-toolbar">
                        <div class="md-toolbar-tools"><h3>CONTENTS</h3><span flex></span><md-icon><ng-md-icon icon="{{ctrl.contents_icon}}"></ng-md-icon></md-icon></div>
                    </md-toolbar>

                    <md-content class="md-padding" flex ng-hide="ctrl.contents_hidden">
                        <div ng-repeat="(key, data) in ctrl.contents" >
                            <h4>{{key}}</h4>
                            <pre style="white-space: pre-wrap;">{{data}}</pre>
                        </div>
                    </md-content>
                </md-card-contents>
            </md-card>

        </div>
    </md-dialog-content>

</md-dialog>