<md-dialog aria-label="Parlay Widget Configuration Dialog" flex="90" flex-gt-md="70" ng-class="{'md-dialog-fullscreen' : $mdMedia}">
    <md-dialog-content>
        <md-tabs md-stretch-tabs="always" md-dynamic-height="true" class="md-primary" md-selected="currentTabIndex">
            <md-tab>
                <md-tab-label>Template</md-tab-label>
                <md-tab-body>
                    <parlay-widget-base-configuration-template layout="row"></parlay-widget-base-configuration-template>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!configuration.template || configuration.template.type == 'display'">
                <md-tab-label>Handlers</md-tab-label>
                <md-tab-body>
                    <parlay-widget-base-configuration-event></parlay-widget-base-configuration-event>
                    <md-card>
                        <md-tabs ng-hide="configuration.selectedEvents.length === 0" md-stretch-tabs="always" md-dynamic-height="true" class="md-primary md-hue-2">
                            <md-tab ng-repeat="event in configuration.selectedEvents">
                                <md-tab-label>{{event.element}}.on({{event.event}})</md-tab-label>
                                <md-tab-body>
                                    <parlay-widget-base-configuration-handler></parlay-widget-base-configuration-handler>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                    </md-card>

                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!configuration.template || configuration.template.type == 'input'">
                <md-tab-label>Transform</md-tab-label>
                <md-tab-body>
                    <parlay-widget-base-configuration-source></parlay-widget-base-configuration-source>
                    <parlay-widget-base-configuration-transform layout="column"></parlay-widget-base-configuration-transform>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button ng-click="dialogCtrl.cancel()" class="md-warn">Cancel</md-button>
        <md-button ng-click="dialogCtrl.hide()" class="md-primary">Ok</md-button>
    </md-dialog-actions>
</md-dialog>