<md-menu>
    <md-button aria-label="Open widget menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
        <md-icon ng-md-icon icon="more_vert"></md-icon>
    </md-button>
    <md-menu-content width="2">
        <md-menu-item>
            <md-button ng-click="widgetsCtrl.remove(uid)">
                <md-icon ng-md-icon icon="close"></md-icon>
                Close
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="type !== 'StandardItem'">
            <md-button ng-click="edit()">
                <md-icon ng-md-icon icon="edit"></md-icon>
                Edit
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="widgetsCtrl.duplicate(uid)">
                <md-icon ng-md-icon icon="content_copy"></md-icon>
                Copy
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>