<md-sidenav md-component-id="widgetNav">
    <md-toolbar class="md-toolbar-tools">
        <h1>Widgets</h1>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="widgetNav.closeSearch()" aria-label="Opens side navigation">
            <md-tooltip>Close menu</md-tooltip>
            <md-icon ng-md-icon icon="close"></md-icon>
        </md-button>
    </md-toolbar>
    <md-input-container md-no-float style="margin-bottom: 0px; min-width: 80%">
        <md-icon ng-md-icon icon="search"></md-icon>
        <input ng-model="search_text" type="text" placeholder="Search for a widget template">
    </md-input-container>
    <md-divider></md-divider>
    <md-list class="parlay-item-list" ng-repeat="widget in widgetNav.querySearch(search_text)">
        <md-list-item ng-click="widgetNav.selectWidget(widget)">
            {{widget.display_name}}
            <span flex></span>
            <!--<md-button class="primary" ng-show="item.children.length" ng-click="itemNav.toggle(item)" aria-label="Expand {{item.name}}'s children">-->
            <!--Expand-->
            <!--</md-button>-->
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</md-sidenav>