.md-left .align-with-text {
    left: 7px;
}

.parlay-directive-add-button {
	height: 37px !important;
}

.parlay-endpoint-card-tab-content {
	max-height: 300px;
}

.filter-input-container {
	padding-bottom: 0;
}