/* Limit maximum height of ParlayItemCard. */
.parlay-item-card-tab-content { max-height: 600px; }

/* Reduce padding between tabs and font size to allow more tabs to fit in toolbar. */
.parlay-item-card > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Limit height of toolbars in ParlayItemCard to allow for greater information density. */
.parlay-item-card > md-toolbar {
	height: 48px;
	min-height: 48px;
	cursor: move;
}

/* Limit height of toolbars in ParlayItemCard to allow for greater information density. */
md-tab-content > div > md-toolbar {
	height: 48px;
	min-height: 48px;
}