.md-left .align-with-text {
    left: 7px;
}

.parlay-directive-add-button {
	height: 37px !important;
}

.parlay-item-card-tab-content {
	max-height: 600px;
}

.parlay-item-card > md-toolbar > .md-toolbar-tools {
	height: 48px;
}

md-tab-content > div > md-toolbar > .md-toolbar-tools {
	height: 48px;
}

.parlay-item-card > md-toolbar {
	height: 48px;
	min-height: 48px;
}

md-tab-content > div > md-toolbar {
	height: 48px;
	min-height: 48px;
}

.parlay-command-container {
	margin-top: 0;
	margin-bottom: 0;
}

.parlay-command-container > md-select {
	margin: inherit;
}

form > .parlay-item-card-tab-content > promenade-standard-item-card-command-container > span > md-input-container {
	margin-bottom: 10px;
}