body {
	overflow: hidden;
}
md-toast .md-action {
    line-height: 36px;
}
.white {
    fill: white !important;
}
md-list-item > a {
    text-decoration: none;
    color: black;
}
.capitalize {
    text-transform: capitalize;
}

.notification-progress .md-container {
    top: 0 !important;
}

.logo {
	width: 200px;
	margin-right: 10px;
}