body {
	overflow: hidden;
}
/*Prevents jumpy veritical scrollbar*/
html {
    overflow-x: hidden;
}
md-toast .md-action {
    line-height: 36px;
}
.white {
    fill: white !important;
}
md-list-item > a {
    text-decoration: none;
    color: black;
}
.capitalize {
    text-transform: capitalize;
}

.notification-progress .md-container {
    top: 0 !important;
}

.logo {
	width: 125px;
	margin-right: 10px;
}

/* We only need top and bottom padding to align buttons with baseline */
.md-button.md-icon-button {
    padding: 8px 0 8px 0;
}