.script_builder_expanded {
    height: 400px;
}

.script_builder_hidden {
    max-height: 64px;
}

.parlay-script-builder-toolbar {
    cursor: pointer;
}

/*csslint outline-none: false */
.parlay-script-builder-toolbar:focus {
    outline: none;
}

.parlay-script-builder-list {
    overflow-y: scroll;
}

parlay-script-builder > md-card {
    margin: 0;
}