.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}
.autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2;
}
.transform-edit {
    height: 400px;
}
._md-chip-input-container { width: 100%; }

/* Indicate to the user that this element can be dragged. */
.show-handle { cursor: move; }

parlay-widget-base-menu {
    margin-right: -15px;
}