<md-dialog aria-label="Protocol Configuration">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="configuration.protocol === undefined">Protocol Configuration</h2>
                <h2 ng-hide="configuration.protocol === undefined">{{configuration.protocol.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close configuration dialog">
                    <md-icon><ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
        
            <md-autocomplete
            ng-show="configuration.protocol === undefined"
            md-selected-item="selected_protocol"

            md-search-text="search_text"
            md-selected-item-change="selectProtocol(protocol)"
            md-items="protocol in querySearch(search_text)"
            md-item-text="protocol.display"
            md-min-length="0"
            placeholder="Protocol">
                <md-item-template>
                    <span md-highlight-text="search_text" md-highlight-flags="^i">{{protocol.name}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found for {{search_text}}
                </md-not-found>
            </md-autocomplete>
        
            <md-input-container flex ng-repeat="(key, value) in configuration.protocol.parameters">
                <label class="capitalize">{{key}}</label>
                <input ng-model="value">
            </md-input-container>            
            
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" class="md-warn" aria-label="Close configuration dialog">
                Close
            </md-button>
            <md-button ng-click="accept()" class="md-primary" aria-label="Connect to protcol with configuration">
                Connect
            </md-button>
        </div>
    </form>
</md-dialog>