<md-dialog aria-label="Protocol Configuration" flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-show="configuration.protocol === undefined">Protocol Configuration</h2>
            <h2 ng-hide="configuration.protocol === undefined">{{configuration.protocol.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close configuration dialog">
                <md-icon><ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-progress-linear ng-show="connecting" md-mode="indeterminate"></md-progress-linear>
    
    <md-dialog-content layout="column">
    
        <md-autocomplete
            md-autoselect="true"
            md-selected-item="selected_protocol"
            md-selected-item-change="selectedItemChange(selected_protocol)"
            md-search-text="search_text"
            md-search-text-change="searchTextChange(search_text)"
            md-items="protocol in querySearch(search_text)"
            md-item-text="protocol.name"
            md-min-length="0"
            md-floating-label="Protocol">
            <md-item-template>
                <span md-highlight-text="search_text" md-highlight-flags="^i">{{protocol.name}}</span>
            </md-item-template>
            <md-not-found>
                No matches found for {{search_text}}
            </md-not-found>
        </md-autocomplete>
            
        <div layout="row" flex ng-show="selected_protocol !== null && selectedProtocolHasParameters()" >
            <md-input-container flex ng-repeat="(key, value) in selected_protocol.parameters">
                <label class="capitalize">{{key}}</label>
                <input ng-model="value">
            </md-input-container>
        </div>
        
        <md-input-container flex ng-hide="selected_protocol === null || selectedProtocolHasParameters()">
            Protocol hasn't provided configuration parameters.
        </md-input-container>
        
        <div ng-show="error">
            <md-icon class="md-warn"><ng-md-icon icon="error"></ng-md-icon></md-icon>
            {{error_message}}
        </div>
                        
    </md-dialog-content>
    
    <div class="md-actions" layout="row" ng-hide="connecting">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-warn" aria-label="Close configuration dialog">
            Close
        </md-button>
        <md-button ng-click="accept()" class="md-primary" aria-label="Connect to protcol with configuration">
            Connect
        </md-button>
    </div>
</md-dialog>