<md-dialog aria-label="Protocol Details" flex="40">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{getProtocolName()}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()"  aria-label="Close connection display dialog">
                    <md-icon><ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
        
            <p ng-hide="getLog().length">
                Nothing has been logged<span ng-show="hasListener()"> although we currently have a listener.</span>
                <span ng-hide="hasListener()"> maybe because we're not listening?</span>
            </p>
            
            <md-list ng-show="getLog().length">
                <md-list-item ng-repeat="message in getLog()">
                    {{message}}
                </md-list-item>
            </md-list>
        </md-dialog-content>        
        
</md-dialog>