<md-dialog aria-label="Protocol Configuration" flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-show="configuration.protocol === undefined">Protocol Configuration</h2>
            <h2 ng-hide="configuration.protocol === undefined">{{configuration.protocol.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close configuration dialog">
                <md-icon><ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-progress-linear ng-show="connecting" md-mode="indeterminate"></md-progress-linear>
    
    <md-dialog-content layout="column">
    
        <md-autocomplete
            md-autoselect="true"
            md-selected-item="selected_protocol"
            md-selected-item-change="selectedItemChange(selected_protocol)"
            md-search-text="search_text"
            md-search-text-change="searchTextChange(search_text)"
            md-items="protocol in querySearch(search_text)"
            md-item-text="protocol.name"
            md-min-length="0"
            md-floating-label="Protocol">
            <md-item-template>
                <span md-highlight-text="search_text" md-highlight-flags="^i">{{protocol.name}}</span>
            </md-item-template>
            <md-not-found>
                No matches found for {{search_text}}
            </md-not-found>
        </md-autocomplete>
            
        <div layout="row" flex ng-show="selected_protocol !== null && selectedProtocolHasParameters()" >

                <span flex ng-repeat="(parameter_name, parameter) in selected_protocol.parameters">
                    
                    <md-input-container ng-show="parameter.defaults === null || !parameter.defaults.length">
                        <label>{{parameter_name}} (Defaults not available)</label>
                        <input ng-model="parameter.value" type="text">
                    </md-input-container>
                    
                    <md-autocomplete ng-hide="parameter.defaults === null || !parameter.defaults.length"
                        md-autoselect="true"
                        md-search-text="parameter.search_text"
                        md-selected-item="parameter.value"
                        md-items="default in filterDefaults(parameter.defaults, parameter.search_text)"
                        md-item-text="default"
                        md-min-length="0"
                        md-floating-label="{{parameter_name}}">
                        <md-item-template>
                            <span md-highlight-text="parameter.search_text" md-highlight-flags="^i">{{default}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found for {{parameter.search_text}}
                        </md-not-found>
                    </md-autocomplete>
                    
                </span>
                
        </div>
        
        <md-input-container flex ng-hide="selected_protocol === null || selectedProtocolHasParameters()">
            Protocol hasn't provided configuration parameters.
        </md-input-container>
        
        <div ng-show="error">
            <md-icon class="md-warn"><ng-md-icon icon="error"></ng-md-icon></md-icon>
            {{error_message}}
        </div>
                        
    </md-dialog-content>
    
    <div class="md-actions" layout="row" ng-hide="connecting">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-warn" aria-label="Close configuration dialog">
            Close
        </md-button>
        <md-button ng-click="accept()" class="md-primary" aria-label="Connect to protcol with configuration">
            Connect
        </md-button>
    </div>
</md-dialog>