<div layout-fill>
    
    <parlay-endpoints-toolbar></parlay-endpoints-toolbar>
    
    <md-content layout-margin layout-wrap layout="row" ng-switch="displayCards">
        
        <parlay-endpoint-card-item ng-switch-when="true" ng-repeat="endpoint in endpointManager.active_endpoints"></parlay-endpoint-card-item>
        
        <md-list ng-switch-when="false" flex>
            <parlay-endpoint-list-item ng-repeat="endpoint in endpointManager.active_endpoints"></parlay-endpoint-list-item>
        </md-list>
        
    </md-content>
    
    <md-button class="md-fab md-fab-bottom-right" ng-click="setupEndpoint()">
        <ng-md-icon class="white" icon="add"></ng-md-icon>
        <md-tooltip>Add endpoint</md-tooltip>
    </md-button>
    
</div>