<md-dialog aria-label="Protocol Protocol" flex="90" flex-gt-md="70" ng-class="{'md-dialog-fullscreen' : $mdMedia}">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Protocols</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.hide()" aria-label="Close protocol list dialog">
                <md-icon ng-md-icon icon="close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-progress-linear ng-show="ctrl.connecting" md-mode="indeterminate"></md-progress-linear>

    <md-dialog-content>

        <md-list>

            <md-list-item class="md-2-line parlay-list-item" layout="row">

                <md-icon hide-xs hide-sm hide-md ng-md-icon icon="group_work"></md-icon>

                <div class="md-list-item-text">
                    <h3>Broker (v{{ctrl.getBrokerVersion()}})</h3>
                    <p>{{ctrl.getBrokerAddress()}}</p>
                </div>

                <md-button ng-show="ctrl.isBrokerConnected()" class="md-warn" ng-class="$mdMedia('gt-md') ? 'md-raised' : 'md-icon-button'" ng-click="ctrl.shutdownBroker()" aria-label="Shutdown">
                    <md-tooltip>Shutdown</md-tooltip>
                    <md-icon hide-gt-md ng-md-icon icon="highlight_remove"></md-icon>
                    <span hide show-gt-md>Shutdown</span>
                </md-button>

                <md-button ng-hide="ctrl.isBrokerConnected()" class="md-primary" ng-class="$mdMedia('gt-md') ? 'md-raised' : 'md-icon-button'" ng-click="ctrl.connectBroker()" aria-label="Connect">
                    <md-tooltip>Connect</md-tooltip>
                    <md-icon hide-gt-md ng-md-icon icon="input"></md-icon>
                    <span hide show-gt-md>Connect</span>
                </md-button>

            </md-list-item>

            <md-subheader ng-if="ctrl.isBrokerConnected() && ctrl.hasOpenProtocols()" class="md-no-sticky">Connected Protocols</md-subheader>

            <md-list-item ng-if="ctrl.isBrokerConnected() && ctrl.hasOpenProtocols()" class="md-2-line parlay-list-item" layout="row" layout-align="space-between center" ng-repeat="protocol in ctrl.getOpenProtocols()">

                <md-icon hide-xs hide-sm hide-md ng-if="$index === 0" ng-md-icon icon="settings_ethernet"></md-icon>

                <div flex-sm="75" class="md-list-item-text" ng-class="{'md-offset': $index !== 0 && $mdMedia('gt-md')}">
                    <h3>{{::protocol.getType()}}</h3>
                    <p>{{::protocol.getName()}}</p>
                </div>

                <div layout="row" flex-sm="25" layout-sm="row" layout-align-sm="center end">
                    <md-button class="md-primary" ng-class="$mdMedia('gt-md') ? 'md-raised' : 'md-icon-button'" ng-click="ctrl.viewProtocolDetails($event, protocol)" aria-label="Details">
                        <md-tooltip>Details</md-tooltip>
                        <span hide show-gt-md>Details</span>
                        <md-icon hide-gt-md ng-md-icon icon="info"></md-icon>
                    </md-button>

                    <md-button class="md-warn" ng-class="$mdMedia('gt-md') ? 'md-raised' : 'md-icon-button'" ng-click="ctrl.closeProtocol(protocol)" aria-label="Disconnect">
                        <md-tooltip>Disconnect</md-tooltip>
                        <span hide show-gt-md>Disconnect</span>
                        <md-icon hide-gt-md ng-md-icon icon="highlight_remove"></md-icon>
                    </md-button>
                </div>

            </md-list-item>

            <md-list-item ng-if="ctrl.isBrokerConnected() && !ctrl.hasOpenProtocols()">No protocols connected</md-list-item>

            <md-subheader ng-if="ctrl.isBrokerConnected() && ctrl.hasSavedProtocols()" class="md-no-sticky">Saved Protocols</md-subheader>

            <md-list-item ng-if="ctrl.isBrokerConnected() && ctrl.hasSavedProtocols()" class="md-3-line" layout="row" layout-align="space-between center" ng-repeat="configuration in ctrl.getSavedProtocols()">

                <md-icon hide-sm hide-md ng-if="$index === 0" ng-md-icon icon="settings_backup_restore"></md-icon>

                <div flex-sm="75" class="md-list-item-text" ng-class="{'md-offset': $index !== 0 && $mdMedia('gt-md')}">
                    <h3>{{::configuration.name}}</h3>
                    <p><span ng-repeat="(key, value) in configuration.parameters">{{::value}}</span></p>
                    <p title="{{configuration.last_connected}}">Last connected <span am-time-ago="configuration.last_connected"></span></p>
                </div>

                <div layout="row" flex-sm="25" layout-sm="row" layout-align-sm="center end">
                    <md-button class="md-primary" ng-class="$mdMedia('gt-md') ? 'md-raised' : 'md-icon-button'" ng-click="ctrl.openSavedProtocol(configuration)" aria-label="Connect">
                        <md-tooltip>Connect</md-tooltip>
                        <span hide show-gt-md>Connect</span>
                        <md-icon hide-gt-md ng-md-icon icon="input"></md-icon>
                    </md-button>
                    <md-button class="md-warn" ng-class="$mdMedia('gt-md') ? 'md-raised' : 'md-icon-button'" ng-click="ctrl.deleteSavedProtocol(configuration)" aria-label="Delete">
                        <md-tooltip>Delete</md-tooltip>
                        <span hide show-gt-md>Delete</span>
                        <md-icon hide-gt-md ng-md-icon icon="delete"></md-icon>
                    </md-button>
                </div>

            </md-list-item>

        </md-list>

    </md-dialog-content>
    
    <md-dialog-actions ng-if="ctrl.isBrokerConnected()" layout="row">
        <span flex></span>
        <md-button ng-click="ctrl.openConfiguration($event)" class="md-primary">
            Open protocol
        </md-button>
    </md-dialog-actions>

</md-dialog>