<md-dialog aria-label="Protocol Details" flex="50" flex-md="70" flex-sm="90" ng-class="{'md-dialog-fullscreen' : $mdMedia}">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{::ctrl.getProtocolName()}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.hide()"  aria-label="Close protocol display dialog">
                    <md-icon ng-md-icon icon="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
        
        	<div class="md-dialog-content" scroll-glue>
        
	            <p ng-hide="ctrl.getLog().length">
	                Nothing has been logged<span ng-show="ctrl.hasListener()"> although we currently have a listener.</span>
	                <span ng-hide="ctrl.hasListener()"> maybe because we're not listening?</span>
	            </p>
	            
	            <md-list ng-show="ctrl.getLog().length">
	                <md-list-item class="message-text" ng-repeat="message in ctrl.getLog()">
	                    {{message}}
	                </md-list-item>
	            </md-list>
            
        	</div>
        </md-dialog-content>        
        
</md-dialog>