<md-toolbar class="md-theme-indigo md-hue-1" hide-gt-sm layout="row">
    <div class="md-toolbar-tools">
        <img class="logo" src="../images/logo.png">

        <span flex></span>

        <md-button class="md-icon-button" ng-click="ctrl.toggleSidenav()" aria-label="Opens side navigation">
            <md-tooltip>View menu</md-tooltip>
            <md-icon ng-md-icon icon="menu"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-sidenav flex md-component-id="navigation" class="md-sidenav-left" md-whiteframe="12" layout="column" md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-theme-indigo md-hue-1">
        <div class="md-toolbar-tools">
            <img class="logo" src="../images/logo.png">

            <span flex></span>

            <md-button hide-gt-sm class="md-icon-button" ng-click="ctrl.toggleSidenav()" aria-label="Opens side navigation">
                <md-tooltip>Close menu</md-tooltip>
                <md-icon ng-md-icon icon="close"></md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <md-list layout="column" flex class="parlay-navigation-list" ng-controller="ParlayNavigationSidenavController as ctrl">

        <md-menu class="parlay-navigation-menu">

            <md-list-item ng-click="$mdOpenMenu($event)" title="Available views menu">
                <md-icon ng-md-icon class="parlay-nav-icon" icon="apps"></md-icon>
                <p style="text-transform: capitalize">{{ctrl.getCurrentState().data.displayName}}</p>
                <md-icon ng-md-icon class="parlay-nav-icon" icon="keyboard_arrow_down"></md-icon>
            </md-list-item>

            <md-menu-content width="4">
                <md-menu-item ng-repeat="state in ctrl.getAllStates()">
                    <md-button ng-click="ctrl.navigateState(state)">
                        <md-icon ng-md-icon icon="{{state.data.displayIcon}}"></md-icon>
                        {{state.data.displayName}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>

        </md-menu>

        <md-divider></md-divider>

        <md-list-item ng-show="ctrl.getCurrentState().name == 'items'" ng-click="ctrl.requestDiscovery()" title="Request discovery">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="autorenew"></md-icon>
            <p>Discovery</p>
        </md-list-item>

        <md-list-item ng-show="ctrl.getCurrentState().name == 'items'" ng-click="ctrl.openWorkspaceManagementDialog($event)" title="Open workspaces dialog">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="dashboard"></md-icon>
            <p>Workspaces</p>
        </md-list-item>

        <parlay-item-search ng-show="ctrl.getCurrentState().name == 'items'" layout="row"></parlay-item-search>

        <span flex></span>

        <md-divider></md-divider>

        <md-list-item ng-click="ctrl.openProtocolManagementDialog($event)" title="Open protocols dialog">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="settings_ethernet"></md-icon>
            <p>Protocols</p>
        </md-list-item>

        <md-list-item ng-click="ctrl.openNotificationSidenav()" title="Open notifications sidenav">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="notifications"></md-icon>
            <p>Notifications</p>
        </md-list-item>

        <md-list-item ng-click="ctrl.openHelpTab()" title="Open help in new browser window">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="help_outline"></md-icon>
            <p>Help</p>
            <md-icon ng-md-icon class="parlay-nav-icon" icon="open_in_new"></md-icon>
        </md-list-item>

        <md-list-item ng-click="ctrl.openSettingsDialog()" title="Open settings dialog">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="settings"></md-icon>
            <p>Settings</p>
        </md-list-item>

    </md-list>

</md-sidenav>