<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="parlayNavMenu" md-is-locked-open="parlayNavToggleOpen">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleMenu()" aria-label="Menu"><md-icon><ng-md-icon class="white" icon="menu"></ng-md-icon></md-icon></md-button>
            <h2>Parlay</h2>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat="state in states">
            <a ui-sref="{{state.route}}">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <md-icon><ng-md-icon icon="{{state.icon}}"></ng-md-icon></md-icon>
                    <div class="inset capitalize">{{state.name}}</div>
                </md-item-content>
            </a>
        </md-list-item>
    </md-list>
    <span flex></span>
    <md-list>
        <md-list-item>
            <a href ng-click="viewConnectedProtocols($event)">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <md-icon><ng-md-icon icon="settings_ethernet"></ng-md-icon></md-icon>
                    <div class="inset capitalize">Protocol Connections</div>
                </md-item-content>
            </a>
        </md-list-item>
    </md-list>
    <md-list>
        <md-list-item>
            <a ui-sref="help">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <md-icon><ng-md-icon icon="help"></ng-md-icon></md-icon>
                    <div class="inset capitalize">Help</div>
                </md-item-content>
            </a>
        </md-list-item>
        <md-list-item>
            <a ui-sref="settings">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <md-icon><ng-md-icon icon="settings"></ng-md-icon></md-icon>
                    <div class="inset capitalize">Settings</div>
                </md-item-content>
            </a>
        </md-list-item>
    </md-list>    
</md-sidenav>