<md-sidenav md-component-id="navigation" class="md-sidenav-left" layout="column">

	<md-toolbar class="md-theme-indigo">
		<div class="md-toolbar-tools">
			<img class="logo" src="../../../images/logo.png">
			<span flex></span>
			<md-button class="md-icon-button" ng-click="ctrl.closeSidenav()" aria-label="Close sidenav">
				<md-icon class="white"><ng-md-icon icon="close"></ng-md-icon></md-icon>
			</md-button>
		</div>
    </md-toolbar>
    
    <div flex layout="column">    
    	
    	<md-list>
    	
    		<md-list-item ng-click="ctrl.navigateToState(state)" ng-repeat="state in ctrl.states">
    			<md-icon ng-md-icon class="parlay-nav-icon" icon="{{state.icon}}"></md-icon>
    			{{state.display}}
    		</md-list-item>
    	
	    </md-list>
	    
	    <span flex></span>
	    
	    <md-list>

			<!--Hidden file input that is triggered on md-list-item click-->
			<input id="discoveryInput" type="file" style="visibility:hidden" custom-on-change="ctrl.fileChanged" />

			<md-list-item ng-click="ctrl.saveDiscovery()">
				<md-icon ng-md-icon class="parlay-nav-icon" icon="file_download"></md-icon>
				Save Discovery
			</md-list-item>
			<md-list-item ng-click="ctrl.loadDiscovery($event)">
				<md-icon ng-md-icon class="parlay-nav-icon" icon="file_upload"></md-icon>
				Load Discovery
			</md-list-item>
	    	
	    </md-list>
    
    </div>
    
</md-sidenav>