<div layout="column" class="console_transform" ng-class="ctrl.console_hidden ? 'console_hidden' : 'console_expanded'">
	
	<md-toolbar ng-click="ctrl.toggleConsole()" class="parlay-bottom-bar">
    	<div class="md-toolbar-tools">
	    	<h2>
		    	<md-icon class="white"><ng-md-icon icon="{{ctrl.received_message_status_icon}}"></ng-md-icon></md-icon>
		    	Console
		    </h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Toggle console"><md-icon><ng-md-icon class="white" icon="{{ctrl.console_hidden ? 'unfold_more' : 'unfold_less'}}"></ng-md-icon></md-icon></md-button>
		</div>
	</md-toolbar>

	<div layout="row" ng-hide="ctrl.console_hidden">
		<md-input-container flex class="parlay-python-console-log-filter-input-container" ng-if="ctrl.console_filtering">
		    <label>Filter log</label>
			<input ng-model="ctrl.console_filter">
		</md-input-container>
	</div>

    <!--Scroll glue will automatically keep md-list at the most recent item unless the user has independently scrolled in the list-->
	<md-list class="parlay-console-list" scroll-glue flex>
        <parlay-console-list-item ng-repeat="message in ctrl.getConsoleLog() | filter: {statement: ctrl.console_filter}" message="message"></parlay-console-list-item>
	</md-list>

</div>