<md-toolbar class="md-theme-indigo md-hue-1" hide-gt-sm layout="row">
    <div class="md-toolbar-tools">
        <img class="logo" src="../images/logo.png">

        <span flex></span>

        <md-button class="md-icon-button" ng-click="ctrl.toggleSidenav()" aria-label="Opens side navigation">
            <md-tooltip>View menu</md-tooltip>
            <md-icon class="white"><ng-md-icon icon="menu"></ng-md-icon></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-sidenav flex md-component-id="navigation" class="md-sidenav-left md-whiteframe-z2" layout="column" md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-theme-indigo md-hue-1">
        <div class="md-toolbar-tools">
            <img class="logo" src="../images/logo.png">

            <span flex></span>

            <md-button hide-gt-sm class="md-icon-button" ng-click="ctrl.toggleSidenav()" aria-label="Opens side navigation">
                <md-tooltip>Close menu</md-tooltip>
                <md-icon class="white"><ng-md-icon icon="close"></ng-md-icon></md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <md-list layout="column" flex class="parlay-navigation-list" ng-controller="ParlayNavigationSidenavController as ctrl">

        <md-list-item ng-click="ctrl.openProtocolManagementDialog($event)">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="settings_ethernet"></md-icon>
            <p>Protocols</p>
        </md-list-item>

        <md-list-item ng-click="ctrl.openWorkspaceManagementDialog($event)">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="dashboard"></md-icon>
            <p>Workspaces</p>
        </md-list-item>

        <parlay-item-search style="padding-left: 25px; padding-right: 25px; padding-top: 10px;" layout="row"></parlay-item-search>

        <span flex></span>

        <md-divider></md-divider>

        <md-list-item ng-click="ctrl.openNotificationSidenav()">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="notifications"></md-icon>
            <p>Notifications</p>
        </md-list-item>

        <md-list-item ng-click="ctrl.openSettingsDialog()">
            <md-icon ng-md-icon class="parlay-nav-icon" icon="settings"></md-icon>
            <p>Settings</p>
        </md-list-item>

    </md-list>

</md-sidenav>