<md-dialog aria-label="Settings" flex="90" flex-gt-sm="70" flex-gt-md="50">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Settings</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.hide()" aria-label="Hide dialog">
                <md-icon><ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <md-list>
            <md-list-item ng-click="ctrl.saveDiscovery()">
                <md-icon ng-md-icon icon="file_download"></md-icon>
                Save Discovery
            </md-list-item>

            <md-list-item ng-click="ctrl.loadDiscovery($event)">
                <md-icon ng-md-icon icon="file_upload"></md-icon>
                Load Discovery
                <!--Hidden file input that is triggered on md-list-item click-->
                <input id="discoveryInput" type="file" style="display: none;;" custom-on-change="ctrl.fileChanged" />
            </md-list-item>
        </md-list>

    </md-dialog-content>

</md-dialog>