<div layout="column" layout-align="space-between" class="console_transform" ng-class="console_hidden ? 'console_hidden' : 'console_expanded'">
	
	<md-toolbar ng-click="consoleToggleConsole()" class="parlay-bottom-bar">
    	<div class="md-toolbar-tools">
			<h2>Console</h2>
			<span flex></span>
			<md-button class="md-icon-button"><md-icon><ng-md-icon class="white" icon="{{console_icon}}"></ng-md-icon></md-icon></md-button>
		</div>
	</md-toolbar>

	<md-content>
		<md-list>
			<md-list-item class="parlay-console-list-item" ng-repeat="message in getConsoleLog()">
				<span ng-show="message.user">>> </span>
				{{message.statement}}
			</md-list-item>
		</md-list>
	</md-content>
	
	<span flex></span>
	
	<div layout="row" class="md-whiteframe-z5">
		<md-input-container flex ng-hide="console_hidden" class="parlay-python-statement-input-container">
		    <label>Python Statement</label>
			<input ng-model="console_command" ng-keyup="$event.keyCode == 13 && consoleSendCommand()">
		</md-input-container>
		<md-button class="md-warn" ng-click="clearLog()" ng-disabled="!hasConsoleLog()">Clear</md-button>
	</div>
	
</div>