<!-- This file is modified at build time. Please reference the build and the Gruntfile.js for more information. -->

<!DOCTYPE html>
<html ng-app="parlay.main">
    <head ng-controller="ParlayHeadController as ctrl">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="256x256" ng-src="{{ctrl.vendorIcon}}">
        <meta name="theme-color" content="{{ctrl.themeColor}}">
        <title>Parlay</title>

        <!-- Stylesheets included or inlined at build time. -->

        <!-- library stylesheets for develop task -->
        <!-- bower:css --><!-- endbower -->
        <!-- /library stylesheets for develop task -->

        <!-- library stylesheets for dist task -->
        <!-- build:css:dist inline tmp/lib.min.css --><!-- /build -->
        <!-- /library stylesheets for dist task -->

        <!-- project stylesheets for develop task -->
        <!-- include: "type": "css", "files": ["<%= meta.stylesheets %>"] -->
        <!-- /project stylesheets for develop task -->

        <!-- project stylesheets for dist task -->
        <!-- build:css:dist inline tmp/parlayui.min.css --><!-- /build -->
        <!-- /project stylesheets for dist task -->

    </head>
    <body layout="column" layout-gt-sm="row">

        <parlay-navigation-container layout="column"></parlay-navigation-container>

        <div class="view-container" ui-view flex></div>

        <parlay-notification-sidenav></parlay-notification-sidenav>

        <!-- JavaScript source and libraries included or inlined at build time. -->

        <!-- library JavaScript source for dist task -->
        <!-- build:js:dist inline tmp/lib.min.js --><!-- /build -->
        <!-- /library JavaScript source for dist task -->

        <!-- library JavaScript source for develop task -->
        <!-- bower:js --><!-- endbower -->
        <!-- /library JavaScript source for develop task -->

        <!-- project JavaScript source for dist task -->
        <!-- build:js:dist inline tmp/parlayui.min.js --><!-- /build -->
        <!-- /project JavaScript source for dist task -->

        <!-- project JavaScript source for develop task -->
        <!-- include: "type": "js", "files": ["vendorDefaults.js", "<%= meta.source %>", "<%= meta.compiled_html %>"] -->
        <!-- /project JavaScript source for develop task -->

    </body>
</html>