<md-sidenav md-component-id="parlay-item-library" id="parlay-item-library" layout="column">
    <md-toolbar class="md-toolbar-tools">
        <h1>Items</h1>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="searchCtrl.closeSearch()" aria-label="Opens side navigation">
            <md-tooltip>Close menu</md-tooltip>
            <md-icon ng-md-icon icon="close"></md-icon>
        </md-button>
    </md-toolbar>
    <md-input-container md-no-float class="parlay-navigation-list-input">
        <md-icon ng-md-icon icon="search"></md-icon>
        <input ng-model="search_text" type="text" placeholder="Search for a connected Item"
               ng-model-options="{debounce: 500}">
    </md-input-container>
    <md-divider></md-divider>
    <md-content layout-padding ng-if="!searchCtrl.queryCheck()">
        <p class="md-body-1">No Matches Found!
            <span ng-show="!searchCtrl.hasDiscovered()">
                Ensure protocols are connected, request discovery and try again.
            </span>
        </p>
    </md-content>
    <md-content flex>
        <md-list>
            <div ng-repeat="item in searchCtrl.getItems()">
                <parlay-item-list item="item" depth="0" matching-ancestor="searchCtrl.filterNode(item)"></parlay-item-list>
            </div>
        </md-list>
    </md-content>
</md-sidenav>