<md-card class="md-whiteframe-2dp parlay-item-card">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
			<md-menu>
				<md-button aria-label="Open overflow menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-tooltip>Card menu</md-tooltip>
					<md-icon md-menu-origin ng-md-icon icon="more_vert"></md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button md-menu-align-target ng-click="itemCtrl.duplicate($index)">
							<md-icon ng-md-icon icon="content_copy"></md-icon>
							Duplicate
						</md-button>
					</md-menu-item>
					<md-menu-item ng-hide="$first">
						<md-button md-menu-align-target ng-click="itemCtrl.reorder($index, -1)">
							<md-icon ng-md-icon hide-gt-sm icon="keyboard_arrow_up"></md-icon>
							<md-icon ng-md-icon hide-sm icon="keyboard_arrow_left"></md-icon>
							<span hide-sm>Move left</span>
                            <span hide-gt-sm>Move up</span>
						</md-button>
					</md-menu-item>
					<md-menu-item ng-hide="$last">
						<md-button md-menu-align-target ng-click="itemCtrl.reorder($index, 1)">
							<md-icon ng-md-icon hide-gt-sm icon="keyboard_arrow_down"></md-icon>
							<md-icon ng-md-icon hide-sm icon="keyboard_arrow_right"></md-icon>
                            <span hide-sm>Move right</span>
                            <span hide-gt-sm>Move down</span>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<md-button aria-label="Close card" class="md-icon-button" ng-click="itemCtrl.deactivate($index)">
                <md-tooltip>Close card</md-tooltip>
				<md-icon class="white" ng-md-icon icon="clear"></md-icon>
			</md-button>
            <!-- Vendor specific item toolbar-tools directives are automatically inserted here -->
        </div>
    </md-toolbar>
    
    <md-tabs class="md-primary md-hue-1" md-selected="active_tab_index" md-dynamic-height="true" md-autoselect="true" md-stretch-tabs="auto" md-enable-disconnect="true">
        <!-- Vendor specific item tab directives are automatically inserted here -->
    </md-tabs>
    
</md-card>