<md-list-item class="parlay-navigation-list-small parlay-item-list" ng-click="itemList.selectItem(item)">
    <div class="md-body-1" style="padding-left: calc({{depth * 15}}px">
        {{item.name}}
    </div>
    <span flex></span>
    <md-button class="md-icon-button" ng-show="item.children.length" ng-click="itemList.toggle()" aria-label="Expand {{item.name}}'s children">
        <md-tooltip>Expand {{item.name}}</md-tooltip>
        <md-icon ng-md-icon icon="{{icon}}"></md-icon>
    </md-button>
</md-list-item>
<md-list class="parlay-item-list" ng-hide="hidden">
    <div ng-repeat="item in item.children">
        <parlay-item-list item="item" depth="depth + 1"></parlay-item-list>
    </div>
</md-list>