<md-dialog flex="65" style="min-height: 55%; max-height: 55%">
    <md-toolbar class="md-toolbar-tools">
        <h1>Items</h1>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.closeSearch()" aria-label="Hide dialog">
            <md-icon ng-md-icon icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
    </md-toolbar>
    <md-input-container md-no-float style="margin-bottom: 0px">
        <md-icon ng-md-icon icon="search"></md-icon>
        <input ng-model="search_text" type="text" placeholder="Search for a connected Item">
    </md-input-container>
    <md-divider></md-divider>
    <md-content>
        <md-list ng-repeat="item in ctrl.querySearch(search_text)">
                <md-list-item ng-click="ctrl.toggle(item)">
                    <md-button class="md-icon-button" ng-click="ctrl.selectItem(item)" aria-label="Add {{item.name}} to workspace">
                        <md-icon ng-md-icon icon="add_circle_outline"></md-icon>
                    </md-button>
                    {{item.name}}
                    <span flex></span>
                    <md-button ng-show="item.children.length" class="md-icon-button" ng-click="ctrl.toggle(item)" aria-label="Expand {{item.name}}'s children">
                        <md-icon ng-md-icon icon="expand_more"></md-icon>
                    </md-button>
                </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
    <md-content layout-padding ng-show="!ctrl.querySearch(search_text).length">
        <p>No Matches Found!
            <span ng-show="!ctrl.hasDiscovered()">
                Ensure protocols are connected, request discovery and try again.
            </span>
        </p>
    </md-content>
</md-dialog>