<md-dialog aria-label="Workspaces" flex="90" flex-gt-md="70">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Save</h2>
			<span flex></span>
			<md-button class="md-icon-button" type="button" ng-click="ctrl.cancel()" aria-label="Hide dialog">
				<md-icon ng-md-icon icon="close" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<form name="saveform" ng-submit="ctrl.save()">
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="row">
				<md-input-container flex="100">
					<label>Name</label>
					<input ng-model="name" type="text" name="name" required="true" autocomplete="off">
					<div ng-messages="saveform.name.$error">
						<div ng-message="required">Required to save.</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions layout="row">
			<md-button type="button" class="md-warn" ng-click="ctrl.cancel()" aria-label="Cancels save">Cancel</md-button>
			<md-button type="submit" class="md-primary" ng-disabled="saveform.$invalid" aria-label="Save current workspace">Save</md-button>
		</md-dialog-actions>	
	
	</form>

</md-dialog>