<md-sidenav md-component-id="parlay-item-library" id="parlay-item-library" layout="column">
    <md-toolbar class="md-toolbar-tools">
        <h1>Items</h1>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="searchCtrl.closeSearch()" aria-label="Opens side navigation">
            <md-tooltip>Close menu</md-tooltip>
            <md-icon ng-md-icon icon="close"></md-icon>
        </md-button>
    </md-toolbar>
    <md-input-container md-no-float class="parlay-navigation-list-input">
        <md-icon ng-md-icon icon="search"></md-icon>
        <input ng-model="search_text" type="text" placeholder="Search for a connected Item">
    </md-input-container>
    <md-divider></md-divider>
    <md-content flex>
        <md-list>
            <div ng-repeat="item in searchCtrl.items()" ng-show="searchCtrl.filter(item)">
                <parlay-item-list item="item" depth="0" children="searchCtrl.filter(item)"></parlay-item-list>
            </div>
        </md-list>
    </md-content>
</md-sidenav>