<div layout-fill>
    
    <parlay-devices-toolbar></parlay-devices-toolbar>
    
    <md-content layout-margin layout-wrap layout="row" ng-switch="displayCards">
        
        <parlay-device-card-item ng-switch-when="true" ng-repeat="device in deviceManager.active_devices"></parlay-device-card-item>
        
        <md-list ng-switch-when="false" flex>
            <parlay-device-list-item ng-repeat="device in deviceManager.active_devices"></parlay-device-list-item>
        </md-list>
        
    </md-content>
    
    <md-button class="md-fab md-fab-bottom-right" ng-click="setupDevice()">
        <ng-md-icon class="white" icon="add"></ng-md-icon>
        <md-tooltip>Add device</md-tooltip>
    </md-button>
    
</div>