<md-dialog aria-label="Parlay Widget Configuration Dialog" flex="90" flex-gt-md="70" ng-class="{'md-dialog-fullscreen' : $mdMedia}">
    <md-dialog-content>
        <md-tabs md-stretch-tabs="always" md-dynamic-height="true" class="md-primary" md-selected="currentTabIndex">
            <md-tab>
                <md-tab-label>Template</md-tab-label>
                <md-tab-body>
                    <div layout="row" ng-controller="ParlayBaseWidgetConfigurationTemplateController as templateCtrl">

                        <md-input-container flex>
                            <md-select ng-model="wrapper.template" placeholder="Select a template">
                                <md-option ng-value="template_option" ng-repeat="template_option in templateCtrl.getTemplates()">
                                    {{template_option.name}} ({{template_option.type}})
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!wrapper.template || wrapper.template.type == 'display'">
                <md-tab-label>Event</md-tab-label>
                <md-tab-body>
                    <div ng-controller="ParlayBaseWidgetConfigurationEventController as eventCtrl" layout="row">

                        <md-input-container flex>
                            <md-select ng-model="configuration.selectedEvent" placeholder="Select an event">
                                <md-option ng-value="event" ng-repeat="event in eventCtrl.getEvents()">{{event.event}} ({{event.element}})</md-option>
                            </md-select>
                        </md-input-container>

                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!wrapper.template || wrapper.template.type == 'display'">
                <md-tab-label>Handler</md-tab-label>
                <md-tab-body>
                    <div ng-controller="ParlayBaseWidgetConfigurationHandlerController as handlerCtrl">
                        <div ui-ace="{mode: 'javascript', onLoad: handlerCtrl.onEditorLoad}" class="transform-edit" ng-model="configuration.handler.functionString"></div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!wrapper.template || wrapper.template.type == 'input'">
                <md-tab-label>Sources</md-tab-label>
                <md-tab-body>
                    <div ng-controller="ParlayBaseWidgetConfigurationSourceController as sourceCtrl">

                        <md-chips ng-model="configuration.selectedItems" md-on-add="sourceCtrl.onAdd($chip, $index)" md-on-remove="sourceCtrl.onRemove($chip, $index)" md-require-match="true">
                            <md-autocomplete
                                    md-min-length="0"
                                    md-select-on-match="true"
                                    md-match-case-insensitive="true"
                                    md-no-cache="true"
                                    md-search-text="sourceCtrl.searchText"
                                    md-items="item in sourceCtrl.querySearch(sourceCtrl.searchText)"
                                    md-item-text="item.name"
                                    placeholder="Search for a property, data stream or command"
                                    md-menu-class="autocomplete-custom-template"
                                    md-selected-item-change="sourceCtrl.change(item)">
                                <md-item-template>
                                <span class="item-title">
                                    <md-icon ng-show="item.type == 'property'" ng-md-icon icon="description"></md-icon>
                                    <md-icon ng-show="item.type == 'datastream'" ng-md-icon icon="group_work"></md-icon>
                                    <md-icon ng-show="item.type == 'command'" ng-md-icon icon="code"></md-icon>
                                    <md-icon ng-show="item.type == 'input'" ng-md-icon icon="text_fields"></md-icon>
                                    <md-icon ng-show="item.type == 'button'" ng-md-icon icon="play_for_work"></md-icon>
                                    <span md-highlight-text="sourceCtrl.searchText">{{item.name}}</span> <i>({{item.type}})</i>
                                </span>
                                <span class="item-metadata">
                                    <span class="item-metastat">{{item.item_name}}</span>
                                    <strong class="item-metastat" ng-show="!!item.value">value = {{item.value}}</strong>
                                </span>
                                </md-item-template>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.name}}</strong>
                                    <em>{{$chip.item_name}}</em>
                                </span>
                            </md-chip-template>
                        </md-chips>

                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!wrapper.template || wrapper.template.type == 'input'">
                <md-tab-label>Transform</md-tab-label>
                <md-tab-body>

                    <div layout="column" ng-controller="ParlayBaseWidgetConfigurationTransformController as transformCtrl">

                        <md-card flex="80">
                            <md-card-contents>
                                <div ui-ace="{mode: 'javascript', onLoad: transformCtrl.onEditorLoad}" class="transform-edit" ng-model="configuration.transformer.functionString"></div>
                            </md-card-contents>
                        </md-card>

                        <md-card flex="20">
                            <md-card-content>
                                <p>{{configuration.transformer.value}}</p>
                            </md-card-content>
                        </md-card>

                    </div>

                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button ng-click="dialogCtrl.cancel()" class="md-warn">Cancel</md-button>
        <md-button ng-click="dialogCtrl.hide()" class="md-primary">Ok</md-button>
    </md-dialog-actions>
</md-dialog>