<md-toolbar class="md-hue-2 md-whiteframe-z3">
    
    <div class="md-toolbar-tools" layout="row">
        
        <md-button ng-class="large_screen ? '' : 'md-icon-button'" ng-click="requestDiscovery()" aria-label="Request discovery">
            <md-tooltip>Request discovery</md-tooltip>
		    <span ng-if="large_screen">Discovery</span>
		    <md-icon ng-if="!large_screen"><ng-md-icon md-icon class="white" icon="autorenew"></ng-md-icon></md-icon>
        </md-button>
        
		<md-button ng-class="large_screen ? '' : 'md-icon-button'" ng-click="openWorkspaceManagementDialog()" aria-label="Manage workspaces">
            <md-tooltip>Manage workspaces</md-tooltip>
		    <span ng-if="large_screen">Workspaces</span>
		    <md-icon ng-if="!large_screen"><ng-md-icon md-icon class="white" icon="dashboard"></ng-md-icon></md-icon>
        </md-button>
                
        <parlay-endpoint-search flex></parlay-endpoint-search>
        
    </div>
    
</md-toolbar>