<md-dialog aria-label="Workspaces" flex="30">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Save As</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="hide()" aria-label="Hide dialog">
				<md-icon><ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<md-dialog-content>
		<form name="saveform" ng-submit="accept()">
			
		<md-input-container>
			<label>Name</label>
			<input ng-model="name" type="text" name="name" required="true" autocomplete="off">
			<div ng-messages="saveform.name.$error">
				<div ng-message="required">Required to save.</div>
			</div>
		</md-input-container>
	</md-dialog-content>
	
	<div class="md-actions" layout="row">
		<md-button class="md-warn" ng-click="hide()" aria-label="Cancels save as.">Cancel</md-button>
		<md-button type="submit" class="md-primary" ng-disabled="saveform.$invalid" aria-label="Saves current workspace.">Save As</md-button>
	</div>

</md-dialog>