<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        
        <md-switch ng-model="displayCards" aria-label="Switch 1" ng-switch="displayCards">
            <ng-md-icon ng-switch-when="true" class="white" icon="now_widgets"></ng-md-icon>
            <ng-md-icon ng-switch-when="false" class="white" icon="list"></ng-md-icon>
        </md-switch>
        
        <span flex></span>
        <md-button class="md-icon-button"><ng-md-icon class="white" icon="history"></ng-md-icon></md-button>
    </div>
</md-toolbar>