<div layout-fill layout="column">
    
    <parlay-endpoints-toolbar></parlay-endpoints-toolbar>
    
    <parlay-sidenav></parlay-sidenav>
    
	<!-- layout-wrap allows flex children to wrap within the container if the elements use more than 100% -->
	<!-- layout-align="space-around start" specifies that the children will be aligned with space-around in the row, start specifies how they will be aligned perpendicular to the layout's direction -->
	
    <md-content flex layout-wrap layout="row" layout-align="space-around start">
    	<parlay-endpoint-card flex-sm="100" flex-md="50" flex="33" ng-repeat="container in endpointCtrl.filterEndpoints() track by container.uid"></parlay-endpoint-card>
    </md-content>
    
    <parlay-bottom-console-bar></parlay-bottom-console-bar>
                
</div>